h1, h2, p {
    text-align: center;
}

body {
    background-color: magenta;
    color: white;
}

p {
    color: black;
    font-size: 36px;
	font-weight: 600;
	background-color: blue;
}

div { 
	background-color: magenta;
    justify-content: center;
}